div.bt_box{
    background-color: #ffffe0;
    width:150px; 
    height: 30px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

div.post_index_bt_box{
    background-color: #ffffe0;
    width:220px; 
    height: 30px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

div.bg_box_mini{
    background-color: #ffffe0;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
}

div.bg_box_mini2{
    background-color: #ffffe0;
    width: 450px;
    height: 370px;
    margin: 0 auto;
    padding: 20px;
}

div.bg_box_middle{
    background-color: #ffffe0;
    width: 580px;
    height:280px;
    margin: 0 auto;
    padding: 20px;
}

div.bg_box_middle2{
    background-color: #ffffe0;
    width: 350px;
    height:650px;
    margin: 0 auto;
    padding: 40px;
}

div.bg_box_big{
    background-color: #ffffe0;
    width: 450px;
    height:720px;
    margin: 0 auto;
    padding: 40px;
}

div.bg_box_big2{
    background-color: #ffffe0;
    width: 500px;
    height:830px;
    margin: 0 auto;
    padding: 30px;
}

div.bg_box_big3{
    background-color: #ffffe0;
    width: 500px;
    height: 980px;
    margin: 0 auto;
    padding: 40px;
}

