img.icon {
    height: 50px;
    width: 110px;
    /*ボタンのアイコン*/
}

img.top_page_icon {
    border-radius: 40px;
    /*トップページのアイコン*/
}

div.border {
    border-bottom: 2px solid #DDDDDD;
    width: 180px;
    /*ボーダー*/
}

div.odysee_icon  {
    font: #FF99CC;
    display: block;
}

iframe.youtube {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでrumble動画の中央よせが可能*/
}

iframe.little_youtube {
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    /*このコードでrumble動画の中央よせが可能*/
}

iframe.rumble {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでrumble動画の中央よせが可能*/
}

iframe.odysee {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでodysee動画の中央よせが可能*/
}

iframe.odysee_little {
    display: block;
    width: 500px;
    height: 320px;
    margin: 0 auto;
    /*このコードでodysee動画の中央よせが可能*/
}

iframe.odysee_middle {
    display: block;
    width: 530px;
    height: 350px;
    margin: 0 auto;
    /*このコードでodysee動画の中央よせが可能*/
}

iframe.bitchute_little {
    display: block;
    width: 500px;
    height: 320px;
    margin: 0 auto;
    /*このコードでodysee動画の中央よせが可能*/
}

iframe.x {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでxやnitterの中央よせが可能*/
}

iframe.x_little{
    display: block;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    /*このコードでxやnitterの中央よせが可能*/
}

iframe.x_big {
    display: block;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    /*このコードでxやnitter大サイズの中央よせが可能*/
}

iframe.imgur {
    display: block;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    /*このコードでimgur大サイズの中央よせが可能*/
}

iframe.news {
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /*このコードで新聞大サイズの中央よせが可能*/
}

img.imgur {
    display: block;
    width: 550px;
    height: 350px;
    margin: 0 auto;
    /*このコードでimgurの中央よせが可能*/
}

img.imgur_pint {
    display: block;
    width: 530px;
    height: 320px;
    margin: 0 auto;
    /*このコードでimgurの中央よせが可能*/
}

video.video_start{
    display: block;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    /*このコードでvideoファイルの中央よせが可能*/
}

object.pdf {
    display: block;
    width: 550px;
    height: 730px;
    margin: 0 auto;
    /*このコードでPDFの中央よせが可能に*/
}

img.size {
    display: block;
    width: 450px;
    height: 400px;
    margin: 0 auto;
}

img.size_big {
    display: block;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    /*このコードで写真大サイズ*/
}

img.size_little {
    display: block;
    width: 450px;
    height: 350px;
    margin: 0 auto;
}

img.size_w_little {
    display: block;
    width: 350px;
    height: 450px;
    margin: 0 auto;
}

button.top_move{
    background-color: rgba(204,255,255,0.1);
    /* RGBのカラーコードを選択して、透明度を変える。値が低いほど透明。恐らく */
    border-color:rgba(204,255,255,0.6) ;
    width:60px;
    height:60px;
    border-radius: 30px;
    font-size: 35px;
}

div.title_link{
    border-color:rgba(135, 206, 235, 0.6);
}