div.bg_box_j8{
    background-color: #ffffe0;
    width: 380px;
    height:280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

div.bg_box_jt{
    background-color: #ffffe0;
    width: 380px;
    height:110px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

div.bg_box_mail{
    background-color: #ffffe0;
    width: 450px;
    height:450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

input.person_name{
    width:280px;
}

input.e_mail{
    width:280px;
}

textarea.mail{
    resize: none;
    width:350px;
    height:250px;
}

input.send {
    width: 50px;
    height: 40px;
    border-radius: 10px;
}