b.h2_title {
    display: block;
    font-size: 18px;
    /*強調とh2サイズ*/
}

b.page {
    display: block;
    font-size: 17px;
    /*ボタンの文字を強調*/
}

b.h2_title_center {
    display: block;
    font-size: 18px;
    text-align: center;
    /*強調とh2サイズと中央ぞろえ*/
}

b.h2_title_red_center {
    color: #ff0000;
    display: block;
    font-size: 18px;
    text-align: center;
}

section.red_center{
    color: #ff0000;
    text-align: center;
    display: block;
    /*ただの赤字*/
}

section.red{
    color: #ff0000;
    display: block;
    /*ただの赤字*/
}

b.h2_title_red {
    color: #ff0000;
    display: block;
    font-size: 18px;
}

b.h2_title_red_big_red_center {
    color: #ff0000;
    display: block;
    font-size: 22px;
    text-align: center;
}

h2.center {
    text-align: center;
}

h1.center_red {
    text-align: center;
    color:#ff0000;
}

div.center {
    text-align: center;
    /*中央ぞろい*/
}

div.right{
    text-align: right;
}

button.page {
    width: 40px;
    height: 40px;
    border-radius: 17px;
}

ul.center{
    width: fit-content;
    margin: auto;
}
